
*{
    font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}


/* heading section style start  */
.header {
    display: flex;
    justify-content:right;
    align-items: center;
    background-image: url(images/banner/banner3.png);
    background-position: center;
    height: 808px;
    margin-bottom: 100px;
    
}
.heading-info {
    width: 40%;
    text-align:right;
    padding-right: 150px;
    color: #FFFFFF;
}

.heading-info-title{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}
.heading-para{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.btn {
    padding: 21px 26px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border: 0;
}
/* heading section style end  */


/* section-common-style start */
    .section-common-style {
        margin-left: 180px;
        margin-right: 180px; 
    }
/* section-common-style end */


/* person section style start */
.person-section {
    display: flex;
    margin-bottom: 100px;
    
}
.person-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.person-info-heading{
    padding-left: 25px;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}
.person-info-paragraph {
    padding-left: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.unordered-list{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style:none;
}

.check-color{
    color:#16D887;
}

/* person section style end */

/* plan section style start */
.plan-section-heading {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.plan-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
}

.plan-name {
    font-weight: 700;
    font-size: 25px;
}
.plan-para{
    font-weight: 500;
    font-size: 20px;
    color: #737272;
}
/* plan section style end */

/* mindset section style start */
.mindset-section {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(images/watch.png);
    background-position: center;
    border-radius: 10px;
    height: 290px;
    padding-top: 10px;
    padding-left: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.mindset-header{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
/* mindset section style end */


/* footer section style start */
footer {
    display: flex;
    height: 400px;
    padding: 70px 200px;
    background: #151414;
}
.future-part{
    margin-right: 300px;
}
.future-heading{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.future-para{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.subscribe{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}
.input{
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    padding: 15px 25px;
    background: #151414;
    margin-bottom: 16px;
}
.Subscribe-btn{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #005FAC;
    border-radius: 8px;
    width: 160px;
    height: 64px;

}
.icons {
    margin-top: 32px;
}
.icons img {
    padding-right: 10px;
}
/* footer section style end */
